@media(max-width:620px) {
  .midlle {
    width: 95%
  }

  .blackline {
    width: 92%;
    height: 90px;
    margin: 0 auto
  }

  .header {
    display: flex;
    justify-content: flex-end;
    background-image: url(stripe.jpg)
  }

  .header .container {
    position: fixed;
    z-index: 2;
    background-color: #000;
    width: 100%;
    padding: 0 0 15px;
    color: #fff;
    text-align: center;
    border: 0;
    border-radius: 0;
    cursor: pointer
  }

  .header .answer {
    display: none;
    margin: 20px 0;
    background-color: #000
  }

  .header .answer a {
    padding: 10px 0;
    color: #fff;
    display: block;
    z-index: 1
  }

  .hero-part .container {
    margin: 0 4%;
    width: 92%;
    height: 730px
  }
/*
  @keyframes bigger {
    0 {
      font-size: 9pt
    }

    to {
      font-size: 30px
    }
  }
*/
  .hero-part h1 {
    padding-top: 170px;
    padding-bottom: 200px;
    color: #fff;
    font-size: 36px
  }

  .hero-part p {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    animation-name: opacity;
    animation-duration: 5s
  }

  .sub-part .container {
    margin: 0 4%;
    text-align: center;
    padding: 10px
  }

  .profile h1, .profile h2 {
    padding: 20px 0
  }

  .profile h2 {
    font-size: 20px
  }
/*
  @keyframes imgbigger {
    0 {
      width: 0;
      height: 0
    }

    to {
      width: 150px;
      height: 150px
    }
  }
*/
  .submyself img {
    width: 150px;
    height: 150px;
    margin: 20px 0;
    animation:none;
  }

  .submyself .profile {
    width: 100%
  }

  .profile p {
    font-weight: 500;
    font-size: 9pt;
    padding: 15px 0
  }

  .profile span {
    font-weight: 500;
    font-size: 15px
  }

  .portfolio {
    width: 100%;
    padding: 10px
  }

  .portfolio .skills {
    margin: 20px auto;
    max-width: 300px;
    padding-bottom: 30px
  }

  .portfolio li {
    max-width: 45px;
    margin: 20px auto;
    height: 40px;
    display: inline-block
  }

  .portfolio img {
    padding: 0 auto;
    width: 100%
  }

  .portfolio .skills p {
    font-size: 10px
  }

  .portfolio .explain {
    font-size: 9pt
  }

  .service-part p {
    margin: 20px auto;
    font-size: 9pt
  }

  .portfolio .works_container h1 {
    font-size: 9pt;
    font-weight: 550;
    margin: 20px
  }

  .portfolio .works_container p {
    font-size: 9pt;
    margin: 15px
  }
}

@media(max-width:330px) {
  /*
  @keyframes bigger {
    0 {
      font-size: 10px
    }

    to {
      font-size: 2pc
    }
  }
*/
  .hero-part h1 {
    font-size: 2pc
  }

  .hero-part p {
    font-size: 15px
  }

  .portfolio .skills {
    margin: 20px auto;
    max-width: 200px;
    padding-bottom: 30px
  }

  .portfolio li {
    max-width: 25px;
    margin: 20px auto;
    height: 40px;
    display: inline-block
  }

  .portfolio img {
    padding: 0 auto;
    width: 100%
  }

  .portfolio .skills p {
    font-size: 6px
  }

  .portfolio .explain {
    font-size: 10px
  }

  .portfolio .works_container h1 {
    font-size: 10px;
    font-weight: 550;
    margin: 20px
  }

  .portfolio .works_container p {
    font-size: 10px;
    margin: 15px
  }
}
